.body {background-color: #084298;

}

.the-pic {
background-size: cover;
background-repeat: no-repeat;
height: 800px;
}
.jumbotron {
    background-image: "C:\Users\dinas\OneDrive\Documents\Desktop\Bitwise\MF-22-08\bootstrap-boilerplate\img\Hero2.jpg";
    height: 80vh;
    background-size: cover; 
    background-position: center; 
    color: #4780b8; 
}
.carousel-item {
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 25px ;
}
.pics {
    width: 500px;
} 

@media screen and (max-width: 425px) {
.the-pic {
    height: 400px;
} 
.pics {
height:400px;
width: 75%; 
}
}

/*Trying to Move header in donate-support to right*/
.header {
    margin-right: 25px;
}